# Javascript and node.js related stuff
node_modules
package-lock.json

# Where credentials are stored
private
data

# Authentification and critical informations
config.json
*.pem
*.ppk

# Other files
*.txt
